# Aims
This coursework aims to provide a practical context to concepts covered in early weeks surrounding artificial neural networks. You will be required to conduct practical work with Python, and to write a brief report outlining your work.

# Task 
Feedforward Neural Networks You will implement a feedforward artificial neural network (ANN) within Python (using Keras)
for the purposes of solving a binary classification task as a mini-research project. For this network, you will be provided a dataset from the finance sector. A description of the dataset is provided in the Data Fields section of this document below.

### Importing Libraries

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing data

In [12]:
df = pd.read_csv('./bank.csv')
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787.0,no,no,cellular,19.0,oct,79.0,1.0,-1.0,0.0,unknown,no
1,33,services,married,secondary,no,4789.0,yes,yes,cellular,11.0,may,220.0,1.0,339.0,4.0,failure,no
2,35,management,single,tertiary,no,1350.0,yes,no,cellular,16.0,apr,185.0,1.0,330.0,1.0,failure,no
3,30,management,married,tertiary,no,1476.0,yes,yes,unknown,3.0,jun,199.0,4.0,-1.0,0.0,unknown,no
4,59,blue-collar,married,secondary,no,0.0,yes,no,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,no
5,35,management,single,tertiary,no,747.0,no,no,cellular,23.0,feb,141.0,2.0,176.0,3.0,failure,no
6,36,self-employed,married,tertiary,no,307.0,yes,no,cellular,14.0,may,341.0,1.0,330.0,2.0,other,no
7,39,technician,married,secondary,no,147.0,yes,no,cellular,6.0,may,151.0,2.0,-1.0,0.0,unknown,no
8,41,entrepreneur,married,tertiary,no,221.0,yes,no,unknown,14.0,may,57.0,2.0,-1.0,0.0,unknown,no
9,43,services,married,primary,no,-88.0,yes,yes,cellular,17.0,apr,313.0,1.0,147.0,2.0,failure,no